.product {
  // background-color: salmon;
  position: relative;
  padding-bottom: 150%;

  .image {
    height: 90%;
    width: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
