.product {
  height: fit-content;

  .image {
    width: 100%;
    padding-bottom: 150%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  .info {
    list-style: none;
    padding: 0;

    li {
      padding-bottom: 0.6rem;
      cursor: pointer;

      &:last-child {
        padding-bottom: 0;
      }
    }
    .name {
      font-weight: 500;
    }
    .addToCart {
      width: 100%;
      font-size: 1rem;
      color: #ffffff;
      background-color: #000000;
      padding: 1rem;
      border: none;
      cursor: pointer;
      transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

      &:hover {
        background-color: #353535;
      }
    }
  }
}
