@import '../../styles/variables.module.scss';

.footer {
  width: 100%;
  background-color: $footer-bgcolor;
  padding: $footer-padding;
  position: relative;
  bottom: 0;

  .container {
    ul {
      padding-left: 0;
      li {
        list-style: none;
      }
    }

    .menu {
      display: flex;
      justify-content: space-between;

      .icon {
        height: 15px;
        padding-right: 10px;
      }
    }

    .copyright {
      display: flex;
      justify-content: center;
    }
  }
}
