.productCarousel {
  width: 100%;
  display: flex;
  flex-direction: column;

  .mainImage {
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    transition: 0.5s ease;
  }

  .additionalImagesWrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.7rem;
    padding-top: 0.7rem;

    .additionalImage {
      height: 130px;
      background-size: cover;
      background-position: top;
      background-repeat: no-repeat;
      transition: 0.5s ease;
    }
  }
}
